<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313000284444-leelqf21hje4590c2o8c3v4ra4s1hgnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313000284444-leelqf21hje4590c2o8c3v4ra4s1hgnj</string>
	<key>API_KEY</key>
	<string>AIzaSyCgYn7ZHvbNLpXLqJNYxaE89GnytUt0zPk</string>
	<key>GCM_SENDER_ID</key>
	<string>313000284444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rv.flutter.dmvquizapp</string>
	<key>PROJECT_ID</key>
	<string>ny-dmv-quiz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ny-dmv-quiz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313000284444:ios:dc8b366d20fa913dec2ad9</string>
	<key>DATABASE_URL</key>
	<string>https://ny-dmv-quiz-app.firebaseio.com</string>
</dict>
</plist>